/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #6b36b5, #fd86d1);

}
.bullshit{
    font-size: large;
    margin-left: 90px;
    animation: rotation 30s infinite linear;
}

#banner{
    width: 100%;
    aspect-ratio: 8/1;
}
#banner img{
    width: 100%;
    height: auto;
}
.imag{
    height: 70px;
    width: 150px;
    float: right;
    
}
.view{
    height: 168px;
    width: 170px;
    float: right;
    margin-right: 0px;
    border-radius: 10px;
    
}

.qui{
    position: relative;
    display: block;
    z-index: 15;
    border-radius: 40px 20px 20px 0px;
    text-align: center;
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
    margin-bottom: 30px;
    height: auto;
    padding: 10px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 0px;
    transition: all 0.3s ease-in-out;
    border: 10px solid transparent;
    
    background-image:
    
    linear-gradient(#edd1f0, #edd1f0),
    linear-gradient(90deg, #ffabde, #daaeff, #aed0ff, #aafef8);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-size: auto, 200% 100%;
    background-position: 0 0, 0% 50%;
    animation: moveGradient 3s linear infinite;
    color: #000;
}

.qui p{
    margin-top: 3px;
    text-align: justify;
    text-align: left;
}

.qui:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
footer{
    width: 100%;
    height: 60px;
    background-color: #ffabde;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 50;
}

footer p{
    margin-right: 50px;
}
.social{
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.social:hover{
    transform: scale(1.1);
}
h5{
        text-align: justify;
        text-align: center;
}


h1{
    text-align: center;
}
.team {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1.5em;
margin-top: 2em;
}
.team h2{
    align-items: center;
}
.member {

background-color: #edd1f0;
margin-left: 1px;
border-radius: 10px;
padding: 1em;
text-align: center;
box-shadow: 0 0 15px rgba(0,0,0,0.4);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.member:hover {
transform: translateY(-5px);
box-shadow: 0 0 25px rgba(0,191,166,0.5);
z-index: 4;
}

.member img {
width: 120px;
height: 120px;
object-fit: cover;
border-radius: 50%;
margin-bottom: 1em;
border: 2px solid #5f00bf;
}

.member h3 {
margin: 0.5em 0 0.2em;
color: #5f00bf;
}
.adsscreen{
    z-index: -1;
}
.member p {
font-size: 0.95em;
color: #000000;
}

/* nav bar ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  font-size: 2em !important;
  transition: all 0.2s ease-in-out;
}
.navblock {
    text-align: center;
    background-color: #ffabde;
    padding: 10px 5px;
    margin-left: 10px;
    
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    border: 5px solid transparent;
    
    background-image:
    
    linear-gradient(white, white),
    linear-gradient(90deg, #ffabde, #daaeff, #aed0ff, #aafef8);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-size: auto, 200% 100%;
    background-position: 0 0, 0% 50%;
    animation: moveGradient 3s linear infinite;
    color: #000;
}
.navblock .nom-menu {
    font-size: 10px;
    display: block;
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
.navblock:hover .nom-menu{
    opacity: 1;
    
}
.navblock:hover .material-symbols-outlined {
    font-variation-settings: 'wght' 400;
}
.navblock:hover {
    background-color: #daaeff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

nav{
    margin-top: 30vh;
    margin-left: 10px;
    position: fixed;
    margin-right: 10px;
    z-index: 1;
}