/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

model-viewer {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 300px;
    display: none;
}
body{
    background: linear-gradient(180deg, #9b9b9b, #fff);
}





/* nav bar ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  font-size: 2em !important;
  transition: all 0.1s ease-in-out;
}
.navblock {
    text-align: center;
    background-color: rgba(117, 117, 117, 0.735);
    padding: 10px 5px;
    margin-left: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.navblock .nom-menu {
    font-size: 10px;
    display: block;
    text-align: center;
    visibility: hidden;
    color: white;
    font-weight: bold;
}
.navblock:hover .nom-menu{
    visibility: visible;
    
}
.navblock:hover .material-symbols-outlined {
    color: white;
}
.navblock:hover {
    background-color: rgba(117, 117, 117, 0.935);
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

nav{
    margin-top: 25vh;
    margin-left: 10px;
    position: fixed;
}
/* main ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#banner{
    background-color: rgb(195, 195, 195);
    width: 100%;
    aspect-ratio: 6/1;
}
#titre{
    display: block;
    border-radius: 20px;
    text-align: center;
    font-size: 10em;
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
    height: auto;
    padding: 20px;
    border: 10px solid transparent;
    
    background-image:
      linear-gradient(white, white),
      linear-gradient(90deg, #ff8282, #ffb482, #ffffff, #82d4ff, #8282ff, #ff8282);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-size: auto, 200% 100%;
    background-position: 0 0, 0% 50%;
    animation: moveGradient 6s linear infinite;
    color: #000;
}

@keyframes moveGradient {
  0%   { background-position: 0 0, 0% 50%; }
  50%  { background-position: 0 0, 100% 50%; }
  100% { background-position: 0 0, 0% 50%; }
}
}