body {
font-family: "Comic Sans MS", "Poppins", sans-serif;
background: linear-gradient(180deg, #2596be, #aafef8);
margin: 0;
color: #333;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  font-size: 2em !important;
  transition: all 0.2s ease-in-out;
}
.navblock {
    text-align: center;
    background-color: #ffabde;
    padding: 10px 5px;
    margin-left: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    border: 5px solid transparent;
    
    background-image:
    
    linear-gradient(white, white),
    linear-gradient(90deg, #ffabde, #daaeff, #aed0ff, #aafef8);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-size: auto, 200% 100%;
    background-position: 0 0, 0% 50%;
    animation: moveGradient 3s linear infinite;
    color: #000;
}
.navblock .nom-menu {
    font-size: 10px;
    display: block;
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
.navblock:hover .nom-menu{
    opacity: 1;
    
}
.navblock:hover .material-symbols-outlined {
    font-variation-settings: 'wght' 400;
}
.navblock:hover {
    background-color: #daaeff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

nav{
    margin-top: 30vh;
    margin-left: 10px;
    position: fixed;
}

main {
max-width: 1300px;
margin: 50px auto;
padding: 0 20px;
}

h2 {
text-align: center;
color: #ffabde ;
font-size: 30px;
margin-bottom: 40px;
}

.grid {
display: flex;
grid-template-columns: minmax 100px, 1fr;
gap: 35px;
}

.case {
background: white;
border-radius: 25px;
padding: 20px;
box-shadow: 0 4px 14px rgba(0,0,0,0.15);
text-align: center;
transition: transform 0.2s, box-shadow 0.2s;
animation-duration: 3s;
  animation-name: slidein;
}

.case:hover {
transform: translateY(-8px);
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.case img {
width: auto;
height: 100px;

object-fit: cover;
border-radius: 18px;
margin-bottom: 15px;
}

.case h3 {
color: #daaeff;
font-size: 22px;
margin-bottom: 8px;
}

.prix {
color: #3a86ff;
font-weight: bold;
margin-bottom: 12px;
font-size: 20px;
}

.btn {
background: #06d6a0;
color: white;
border: none;
padding: 12px 22px;
border-radius: 25px;
font-weight: bold;
font-size: 16px;
cursor: pointer;
transition: 0.2s;
}

.btn:hover {
background: #118ab2;

}
footer {
background: #ffabde;
text-align: center;
padding: 25px;
color: #aed0ff;
font-weight: bold;
margin-top: 70px;
font-size: 18px;
}
@keyframes slidein {
    from{

    margin-left: 100%;
    width: 300%;
      }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


    

