/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #6b36b5, #fd86d1);
}





/* nav bar ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  font-size: 2em !important;
  transition: all 0.2s ease-in-out;
}
.navblock {
    text-align: center;
    background-color: #ffabde;
    padding: 10px 5px;
    margin-left: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    border: 5px solid transparent;
    
    background-image:
    
    linear-gradient(white, white),
    linear-gradient(90deg, #ffabde, #daaeff, #aed0ff, #aafef8);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-size: auto, 200% 100%;
    background-position: 0 0, 0% 50%;
    animation: moveGradient 3s linear infinite;
    color: #000;
}
.navblock .nom-menu {
    font-size: 10px;
    display: block;
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
.navblock:hover .nom-menu{
    opacity: 1;
    
}
.navblock:hover .material-symbols-outlined {
    font-variation-settings: 'wght' 400;
}
.navblock:hover {
    background-color: #daaeff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

nav{
    margin-top: 30vh;
    margin-left: 10px;
    position: fixed;
}